.cardMenu{
    height: 500px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 8px 9px 12px -2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 8px 9px 12px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 8px 9px 12px -2px rgba(0,0,0,0.25);
    border: 1px solid rgba(128, 128, 128, 0.199);
  
}

.linkCard {
    text-decoration: none;
    color: black;

}

.cardMenu:hover{
    scale: 1.02;
    transition: 0.5s ease;
}

.headerCard{
    height: 250px;
    width: 100%;
    background-color: red;
}

.headerCard img{
    height: 250px;
    width: 100%;
}

.bodyCard div{
    height: 100px;
    width: 100%; 
    white-space: wrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.btnCarrito{
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: yellow;
}

.btnCarrito:hover{
    scale: 1.05;
}