.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;
}

.MainSection {
    flex-grow: 1;
}


.fuenteTitle {
    font-family: 'Permanent Marker', cursive;
}